<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="jobfinderEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=wilmerlomas1;database=jobfinder&quot;" providerName="System.Data.EntityClient" />
    <add name="puntoventaEntities" connectionString="metadata=res://*/Sql.Model1.csdl|res://*/Sql.Model1.ssdl|res://*/Sql.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=punto_venta;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>